*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    overflow-x: hidden;
    font-family: "Livvic";
}

  .loading-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #070707;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
  }
  
  .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 6px;
      background: #feda15;
      transition: width 2s;
  }
  
  .content {
      opacity: 0;
      transition: opacity 1s ease-in-out;
  }
  
  .content.visible {
      opacity: 1;
  }
  
  .floating {
      transform: translateY(20px);
      opacity: 0;
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .floating.visible {
      transform: translateY(0);
      opacity: 1;
  }

  

.nav2 {
  position: fixed;
  z-index: 1000;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav2,
.nav2 .nav-links {
  display: flex;
  align-items: center;
}
.nav2 {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}

.nav2 a:hover{
    cursor: pointer;
    color: #feda15;
}
.nav2 .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav2 .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav2 .nav-links a {
  transition: all 0.2s linear;
}
.nav2 .openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav2 .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav2 .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav2 .openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav2 .navOpenBtn,
.nav2 .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav2 {
    padding: 15px 100px;
  }
  .nav2 .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav2 {
    padding: 15px 50px;
  }
  .nav2 .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav2 .navOpenBtn,
  .nav2 .navCloseBtn {
    display: block;
  }
  .nav2 {
    padding: 15px 20px;
  }
  .nav2 .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 10000;
  }
  .nav2.openNav .nav-links {
    left: 0;
  }
  .nav2 .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav2 .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav2 .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

/* From Uiverse.io by mobinkakei */ 
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #feda15;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.maincont{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #1c1c1c;
}

.mainconttext{
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.mainconttext i{
  font-size: 1.9rem;
  margin: 0px 10px;
  color: #feda15;
}

.mainconttext i:hover{
  color: white;
  cursor: pointer;
}

/* From Uiverse.io by portseif */ 
.maincont button {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
  margin: auto;
}

.maincont button:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.maincont button:hover{
  color: #feda15;
}
.maincont button:hover:before {
  background-color: #feda15;
  width: 3rem;
}

.mainconttext .fa-facebook:hover{
  color: #1877F2;
}

.mainconttext .fa-youtube:hover{
  color: #ff0000;
}

.mainconttext .fa-instagram:hover{
  color: #fbad50;
}

.mainconttext .fa-spotify:hover{
  color: #1db954;
}






.container2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  height: auto;
}

.image-div, .text-div {
  flex: 1;
}

.image-div {
  padding-right: 20px;
}

.image-div img {
  width: 95%;
  height: 95%;
  object-fit: cover;
}

.text-div {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
}

.text-div h1 {
  font-size: 1.9em;
  margin: 0 0 10px;
}

.text-div p {
  font-size: 1.2em;
  margin: 10px 0;
}

.text-div button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
  align-items: center;
  align-self: center;
}

@media (max-width: 768px) {
  .container2 {
      flex-direction: column-reverse;
      padding: 10px;
      font-size: 1.9rem;
  }

  .image-div, .text-div {
      padding: 0;
  }

  .image-div {
      margin-bottom: 20px;
      text-align: center;
      align-items: center;
  }

  .image-div img{
    width: 100%;
    height: 100%;
  }

  .text-div h1 {
    font-size: 1.2em;
  }

  .text-div p {
      font-size: 1em;
  }

  .text-div button {
      font-size: 1em;
      padding: 5px 10px;
  }
  .materials p{
    width: 100%;
    margin: 0;
  }
}

.materials{
  background: linear-gradient(to bottom, black, #1c1c1c);
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  max-width: 100%;
}

.materials p{
  width: 70%;
  margin: auto;
}

.materials h1{
  color: #feda15;
}

.body {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

.body div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
.item img{
  object-fit: cover;
  width: 100%;
}
.item{
  align-items: center;
  justify-content: center;
  display: flex;

}
.body div.item:nth-of-type(1) {
  --offset: 1;
}
.body div.item:nth-of-type(2) {
  --offset: 2;
}
.body div.item:nth-of-type(3) {
  --offset: 3;
}
.body div.item:nth-of-type(4) {
  --offset: 4;
}
.body div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}


.materials button {
  width: fit-content;
  height: 60px;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.9em;
  font-weight: 550;
  font-family: inherit;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #000;
}

.materials button:hover {
  background: #feda15;
  color: black;
  font-size: 1.2em;
}




/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* Color of the track (the background behind the scrollbar) */
}

::-webkit-scrollbar-thumb {
  background: #feda15; /* Color of the draggable part of the scrollbar */
  border-radius: 6px; /* Optional: Adds rounded corners to the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #f4d10bda; /* Optional: Color when hovering over the scrollbar thumb */
}

.headec{
  width: 60%;
  margin: auto;
}

 

:root {
  --space-cadet: #1f2041;
  --sunglow: #feda15;
  --dark-cyan: #1c1c1c;
  --paynes-gray: #000;
  --light-color: #fff;
  --muted-color: slategray;
  --dot-color: #ccc;
}


.containm{
  display: grid;
  place-items: center;
  height: 100vh;
  color: var(--space-cadet);
  background: var(--dark-cyan);
  background: linear-gradient(
    135deg,
    var(--sunglow),
    var(--dark-cyan),
    var(--paynes-gray)
  );
}

.containm h1 {
  text-align: center;
  color: var(--paynes-gray);
}

.containm button {
  cursor: pointer;
  border: none;
}

.testimonial-slider {
  max-width: 1200px;
  width: 90%;
  background-color: var(--light-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

.testimonial-list {
  display: flex;
  overflow: hidden;
}

.testimonial {
  flex: 1 0 100%;
  text-align: center;
  padding: 20px;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.testimonial .bi-quote {
  font-size: 4rem;
  color: var(--sunglow);
  opacity: 0.75;
}

.testimonial blockquote {
  font-size: 1.25rem;
  margin-inline: 20px;
}

.user-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-details .name {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--dark-cyan);
}

.user-details .company {
  color: var(--muted-color);
}

/* button navigation */

.containm .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: var(--light-color);
  color: var(--paynes-gray);
  transition: 0.3s;
  opacity: 0;
}

.testimonial-slider:hover .nav {
  opacity: 1;
}

.containm .nav:hover {
  background-color: var(--dark-cyan);
  color: var(--light-color);
}

.containm .nav.prev {
  left: 10px;
}

.containm .nav.next {
  right: 10px;
}

/* dot navigation */

.dots-container {
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-inline: 5px;
  background-color: var(--dot-color);
  transition: width 0.5s;
}

.dot.active {
  width: 30px;
  background-color: var(--paynes-gray);
}

.bigblogcont form{
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
input{
  width: 49%;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #20212E;
  color: white;
  outline: none;
  border: none;
  font-size: 17px;
  font-family: inherit;
}
.email{
   margin-left: 14px;
}
textarea{
  background-color: #20212E;
  margin-top: 14px;
  border-radius: 20px;
  height: 200px;
  resize: none;
  overflow: auto;
  padding: 15px 20px;
  color: white;
  font-family: inherit;
  font-size: 17px;
  border: none;
  outline: none;
}

.submit{
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 12px 17px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  margin-top: 14px;
}
.submit:hover{
  background-color: #feda15;
  color: #000;
}
.submit .fa-angle-right:hover{
  color: white;
}

.documentscont{
  padding: 20px;
  overflow: auto;
  text-align: center;
}

.adobe{
  width: 48%;
  padding: 4px;
  text-align: center;
  margin-bottom: 14px;
}
.adobeicon img{
  width: 60%;
  object-fit: cover;
}
.adobe:hover{
  color: #feda15;
  cursor: pointer;
}

.maincont2{
  padding: 10px 30px;
  display: flex;
  background-color: #000;
}

.bigblogcont{
  width: 65%;
  padding: 60px 30px;
}
.smallblogcont{
  width: 35%;
  padding: 60px 30px;
}

@media screen and (max-width: 800px) {
  .maincont2{
      display: block;
      padding: 10px;
  }
  .bigblogcont, .smallblogcont{
      width: 100%;
      padding: 10px;
  }
  input{
      width: 100%;
      margin: auto;
      margin-bottom: 14px;
  }
  .email{
      margin-left: 0px;
      margin: auto;
      width: 100%;
  }
}

.footer {
  padding: 40px 0;
  text-align: center;
  color: white;
  font-size: 24px;
}
.footer .contact-info {
  margin-bottom: 20px;
}
.footer .contact-info div {
  margin: 10px 0;
}
.footer .contact-info i {
  margin-right: 10px;
}
.footer .social-icons {
  margin: 20px 0;
}
.footer .social-icons a {
  margin: 0 10px;
  color: #d3d3d3;
  text-decoration: none;
  font-size: 24px;
}
.footer .social-icons a:hover {
  color: #feda15;
}
.footer .rights {
  margin-top: 20px;
  font-size: 14px;
}
hr {
  border: none;
  border-top: 1px solid #555;
  margin: 20px 0;
}


.modera{
  color: #feda15;
  text-align: center;
  background-color: #000;
  font-size: 2rem;
}